/* Pixeles */
$uno: 1px;
$cinco:5px;
$diez:10px;
$doce:12px;
$catorce:14px;
$quince:15px;
$veinte:20px;
$treinta:30px;
$cuarenta:40px;
$cincuenta:50px;
$sesenta:60px;
$setenta:70px;
$ochenta:80px;
$noventa:90px;
$cien:100px;
$docientos:200px;
$trecientos:300px;
$cuatrocientos:400px;

/* Porcentajes */
$radius: 50%;
$ochenta-ciento:80%;
$cien-ciento:100%;
$docientos-ciento:200%;

/* Colores */
$red: #F04949;
$blue: #203748;
$green: #39D084;
$grey: #EFEFEF;